@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --main-color: #e38528;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #fcf2e8;
    padding-left: 30rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color: var(--main-color);
}


header .navbar a{
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color: #fff;
    margin: 0 .7rem;
}

header .follow a:hover{
    color: var(--main-color);
    transform: rotate(360deg);
    transition: 1.3s;
}


#menu-bars{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1.4rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.cursor-1{
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem; width: 1rem;
    background-color: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height: 7rem;
    width: 7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem; width: 4rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

section{
    padding: 1rem 5%;
    min-height: 100vh;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image{
    flex: 1 1 40rem;
    border-radius: 50%;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3{
    font-size: 4.4rem;
    color: #111;
    /* text-transform: uppercase; */
}

.home .content #animate{
    color: orange;
}

.home .content h3 span{
    color: var(--main-color);
    /* text-transform: uppercase; */
}

.home .content .info{
    font-size: 2.5rem;
    color: #111;
    padding: .5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
}

.btn:hover{
    background: #111;
    letter-spacing: .2rem;
}

.follow .fa-twitter{
    animation: twit 2s infinite;
}

@keyframes twit{
    0%{
        color: blue;
    }
    50%{
        color: khaki;
    }
    75%{
        color: var(--main-color);
    }

    100%{
        color: #666;
    }
}


.follow .fa-instagram{
    animation: twit 2s infinite;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
    color: #111;
    /* text-transform: uppercase; */
}

.heading span{
    color: var(--main-color);
    /* text-transform: uppercase; */
}

/* about     ++++ */

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image{
    flex: 1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.about .row-1 .content{
    flex: 1 1 50rem;
}

.about .row-1 .content h3{
    color: #333;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color: #666;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.about .row-1 .content .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color: var(--main-color);
}

.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row-2 .skills{
    flex: 1 1 40rem;
}

.about .row-2 .skills .progress{
    padding: 1rem 0;
}


.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: #111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar{
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display: block;
    height: 100%;
    background: var(--main-color);
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width: 90%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width: 80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width: 70%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width: 70%;
}


.about .row-2 .box-container{
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row-2 .box-container .box{
    flex: 1 1 15rem;
    background: #fff;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-2 .box-container .box h3{
    color: var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p{
    color: #666;
    font-size: 1.4rem;
    padding-top: .5rem;
}


.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: 1s;
}

.service .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3{
    color: #444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p{
    color: #666;
    font-size: 1.6rem;
    padding-top: .5rem;
}

.service .box-container .box:hover{
    background: var(--main-color);
}

.service .box-container .box:hover i{
    background: #fff;
    color: var(--main-color);
}

.service .box-container .box:hover h3{
    color: #fff;
}

.service .box-container .box:hover p{
    color: black;
}


/* ************************************************** */

.experience .box-container{
    display: flex;
    flex-wrap: wrap;
    /* gap: 1.5rem; */
}

.experience .box-container .box{
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.experience .box-container .box::before{
    /* content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--main-color); */

    content: '';
    position: absolute;
    top: 0;
    left: -.89rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--main-color);
}

.experience .box-container .box .content{
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.experience .box-container .box .content span{
    color: #fff;
    font-size: 1.7rem;
    background: var(--main-color);
    border-radius: 50rem;
    padding: .4rem 1rem;
}

.experience .box-container .box .content h3{
    font-size: 2.1rem;
    padding: .5rem 0;
    color: #111;
}

.experience .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
}



/* ***************************************** */

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box{
    flex: 1 1 25rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}


.portfolio .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box:hover img{
    height: 75%;
    width: 75%;
}

.portfolio .box-container .box h3{
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
}

.portfolio .box-container .box .icons{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.portfolio .box-container .box .icons a{
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    background: #eee;
    color: #333;
    font-size: 1.4rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover{
    background: var(--main-color);
}


.contact .icons-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color: #111;;
    font-size: 2rem;
    padding: .5rem 0;
}

.contact .icons-container .icons p{
    color: #666;
    font-size: 1.5rem;
}


.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row form{
    flex: 1 1 45rem;
    background: #fff;
    padding: 0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    
}

.contact .row .map{
    flex: 1 1 25rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}


.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid #333;
    color:#333;
    text-transform: none;
    font-size: 1.5rem;
    padding:.7rem 0;
    margin:.7rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}

.footer span{
    color:var(--main-color);
}













@media(max-width: 991px){

    html{
        font-size: 55%;
    }

    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left: -120%;
    }

    header.active{
        left: 0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}


@media(max-width: 480px){

    html{
        font-size: 53%;
    }

    header{
        width: 100%;
    }


    .home .image img{
        display: none;
    }

    .home .content{
        padding-top: 15rem;
    }

    .experience .box-container .box{
        padding-right: 0;
    }
}

@media(max-width: 390px){
    .home .content{
        padding-top: 10rem;
    }
}